
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read for web content, but only authenticated users can write.
    match /webContent/{document} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Allow authenticated users to read and write to all other collections.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
