
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Rules for the 'services' directory
    match /services/{allPaths=**} {
      // Allow public read access to all files in the 'services' directory
      allow read;
      // Allow write access only if the user is authenticated
      allow write: if request.auth != null;
    }

    // You can add rules for other directories here
    // match /users/{userId}/{allPaths=**} {
    //   allow read, write: if request.auth != null && request.auth.uid == userId;
    // }
  }
}
